head {
    background-color: aliceblue;
  
  }
  
  h1 {
    color: royalblue;
    text-align: center;
    
  }
  
  h2 {
    color: blueviolet;
    margin: 20px;
  }
  
  h3 {
    color: rgb(151, 101, 199);
    margin: 40px;
  }
  
  h4 {
    color: rgb(109, 138, 227);
    margin: 60px;
  }
  
  p {
    color:rgb(60, 54, 54);
    margin-left: 100px;
    margin-right: 50px;
    text-align: justify;
    style: "font-family:didot,garamond,candara;"
  }

  dl {
    color:rgb(90, 94, 109);
    margin-left: 150px;
    margin-right: 50px;
    text-align: justify;
    style: "font-family:didot,garamond,candara;"
  }

  ol {
    color:rgb(90, 94, 109);
    margin-left: 150px;
    margin-right: 50px;
    text-align: justify;
    style: "font-family:didot,garamond,candara;"
  }
  
  body {
      background-color: rgb(214, 242, 252);
    }
  
  iframe {
    background-color: LightYellow;
    }
  